@font-face{
    font-family: "ActieGrotesqueBold";
    src: url("ActiefGrotesque_W_Bd-1bdd99f9.woff");
}
@font-face{
    font-family: "ActieGrotesqueRegular";
    src: url("ActiefGrotesque_W_Regular-1f437876.woff");
}
@font-face{
    font-family: "GtSuper";
    src: url("GT-Super-WT-Super-1b214df1.woff");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)), url("trans.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* overflow: hidden; */
}

.intro-text{
    font-family: "ActieGrotesqueRegular";
    font-size: 1.5rem;
}
.reset-font{
    font-family: "ActieGrotesqueRegular";
}
.btn{
    font-family: "ActieGrotesqueRegular";
}

.details{
    font-family: "GtSuper",sans-serif;
}

.modal{
    font-family: "ActieGrotesqueRegular",sans-serif;
}

.loading-container{
    display: flex;
    width: 320px;
    padding: 50px 0;
    border-radius: 8px;
    background: #ffff;
    flex-direction: column;
    align-items: center;
}

.circular-progress{
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background: conic-gradient(#5268FF 3.6deg, #ededed 0deg);
    align-items: center;
    justify-content: center;
    display: flex;
}

.circular-progress::before{
    content: "";
    position: absolute;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background: #ffffff;
}

.progress-value{
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: #5268FF;
}

.text{
    font-size: 30px;
    font-weight: 500;
    color: #606060;
}